html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("media/grey.jpg");
	background-repeat: no-repeat;
}

#cabecera {
	z-index: 3;
	position:fixed;
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	border-bottom: 10px solid #E9E8D3;
	background-image: url("media/grey.jpg");
	background-repeat: no-repeat;
	
}

#generos {
	width: 100px;
	border: 2px solid white;
	margin: 20px;
	text-align: center;
	display: flex;
	justify-content: flex-start;
	font-size: 15px;
	color: white;
}

#logo{
	width: 100px;
    border: 2px solid white;
    float: right;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: white;
}

#intro {
	padding-top: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#presenta {
	width: 300px;
	height: auto;
	padding: 5px;
	border: 2px solid #E9E8D3;
	background-color: #C77F7F;
	opacity: 0.5; 
	border-radius: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#series {
	font-family: 'Play', sans-serif;
	width: 100%;
    padding-top: 50px;
    padding-left: 20px;
    font-size: 20px;
    color:  #E9E8D3;
}

#fotos {
	width: 500px;
	height: 300px;
	border: 2px solid  #E9E8D3;
}
#series2 {
	width: 100%;
    padding-top: 100px;
    padding-left: 20px;
    font-size: 15px;
    color:  #E9E8D3;
}

#fotos2 {
	width: 500px;
	height: 300px;
	border: 2px solid  #E9E8D3;
}