html,body{
	min-height: 100vh;
	margin: 0;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
	
}

#face {
	height: 350px;
	width: 200px;
	border-radius: 100px 100px 10px 10px;
	background-color: lightgray;
	position: absolute;
	left: 570px;
	bottom: 70px;
	
	
}

#antena {
	height: 145px;
    width: 18px;
    background-color: lightgray;
    position: absolute;
    top: -169px;
    left: 93px;
}

#top {
	height: 100px;
    width: 90px;
    border-radius: 100px 100px 10px 10px;
    background-color: lightgray;
    position: absolute;
    top: -20px;
    left: 55px;
	
}

#bola {
	z-index: 1;
    height: 27px;
    width: 28px;
    border-radius: 100%;
    background-color: lightgray;
    position: absolute;
    top: -174px;
    left: 33px;
}

#boca {
	height: 66px;
    width: 168px;
    border: 7px solid rgb(52,73,94);
    border-radius: 100px 100px 100px 100px;
    background-size: 40px 40px;
    background-image: linear-gradient(to right, rgb(52,73,94) 4px, transparent 1px), 
    linear-gradient(to bottom, rgb(52,73,94) 4px, rgb(253,227,167) 1px);
    position: absolute;
    top: 220px;
    left: 7px;
}

#dientes {
	height: 66px;
    width: 168px;
    border: 7px solid rgb(52,73,94);
    border-radius: 100px 100px 100px 100px;
    background-color: rgb(253,227,167);
    position: absolute;
    top: 220px;
    left: 7px;
}