#chile{
	width: 999px;
	height: 333px;
	display: flex;
	flex-direction:row;
	margin: auto;
}

#azul_chile {
	flex-grow: 1;
	background-color:rgb(0,57,166);
}
#blanco_chile {
	flex-grow: 2;
	background-color:white;
}
#rojo_chile {
	flex-grow: 1;
	width: 999px;
	height: 333px;
	margin: auto;
	background-color:rgb(213,43,30);
}

#colombia{
	width: 999px;
	height: 667px;
	display: flex;
	flex-direction:column;
	margin: auto;
}
#amarillo_col{
	flex-grow: 2;
	background-color:rgb(252,209,22);
}
#azul_col{
	flex-grow: 1;
	background-color:rgb(0,57,166);
}
#rojo_col{
	flex-grow: 1;
	background-color:rgb(213,43,30);
}

.rd{
	width: 999px;
	height: 267px;
	display: flex;
	flex-direction:row;
	margin: auto;
}
.azul_rd{
	flex-grow: 3;
	background-color:rgb(0,45,98);
}
.blanco_rd{
	flex-grow: 1;
	background-color:white;
}
.rojo_rd{
	flex-grow: 3;
	background-color:rgb(206,17,38);
}
#white9{
	flex-grow: 7;
	height: 83px;
}